{{> welcome-menu}}

<section class="hero is-link is-halfheight">
 <div class="hero-body is-full-height">
<div class="">
      <p class="title">
        Placemark
      </p>
      <p class="subtitle">
        Signup or login...
      </p>
 </div>
</section>