{{#if admin}}
  {{> admin-menu}}
{{else}}
  {{> menu}}
{{/if}}

<section>
  <div class="column has-text-centered">
    <h1 class="title">Placemark Details</h1>
    <br>
    {{> placemark-details}}
  </div>
  <br>
  <br>
  <br>
  <div>
    {{> placemark-image }}
  </div>
</section>

