{{#if admin}}
  {{> admin-menu}}
{{else}}
  {{> menu}}
{{/if}}

<section class="section">
  <h1 class="title"></h1>Update Placemark</h1>
  <br>
  {{> placemark-edit}}
  <br>
  <br>
  <br>
  <div>
    {{> placemark-image-upload }}
  </div>
</section>
