<form action="/dashboard/addplacemark" method="POST">
  <label>Enter Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field"> 
        <input class="input" type="text" name="category" list="categories" placeholder="Select Category"/>
          <datalist id="categories">
            <option>Historic</option>
            <option>Natural World</option>
            <option>Family</option>
            <option>Hiking</option>
            <option>Cycling</option>
          </datalist>
      </div>
      <div class="field">
        <input class="input" type="float" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="float" placeholder="Enter Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Placemark</button>
</form>