<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          <a href="/admin/users/{{_id}}" class="ui icon button">
            <i class="fas fa-binoculars"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
